$font-stack: "Montserrat", sans-serif;

$font-500: 500;
$font-700: 700;
$font-600: 600;
$font-400: 400;

$light-color: #e8f3f9;
$primary-color: #1383c5;
$black-color: #333;
$white-color: white;

$font-xxs: 12px;
$font-xs: 14px;
$font-s: 16px;
$font-m: 24px;
$font-l: 26px;

$info_color: #17a2b8 !default;
$warn_color: #ffc107 !default;
$error_color: #ee0022 !default;
$success_color: #34a853 !default;
$toast_box_shadow: rgba(248, 175, 175, 0.1) !default;
