.login-wrapper {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.login-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-image {
  width: 400px;
  margin: 0 50px;
}
